h1{
  background-color: purple;
  color: cornsilk;
  font-size: 25px;
}
h2{
  background-color: rgb(200,0,0);
  color: rgb(226, 232, 235);
  font-size: 20px;
}
h3{
  background-color: rgba(0,255,0,0.7);
  color:rgba(25,0,0,0.7);
  font-size: 20px;
}
h4{
  background-color: #aab9c9;
  color: #bd1a1a;
  font-size: 20px;
}
h5{
  background-color: hsl(250,100%,50%);
  color: hsl(180,50%,50%);
  font-size: 20px;
}
h6{
  background-color: hsla(300,100%,50%,0.9);
  color: hsla(50,100%,100%,0.9);
  font-size: 20px;
}
