   .parent{
    height: 520px;
    width: 680px;
    border-radius: 5px;
    position: relative;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
   padding-top: px;
   padding-bottom: 50px;
   background-color: rgb(227, 227, 235);
   }

  .child{
    height: 400px;
    width: 527px;
    border-radius: 5px;
    position: absolute;
    top: 120px;
    right: 70px;
    left: 80px;
    background-color: white;
    text-align: center;
    align-items: center;
   }

  h2{
    color:#1F0684;
    font-size: 25px;
   padding-top: 20px;
   }

  button{
    height: 40px;
    width: 250px;
    background-color:#1F0684;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    padding-top: 30;
     }

  hr{
    color: rgb(252, 248, 248);
   width: 420px;
   }

  p1{
    font-size: 17px;
    }

  p2{
    font-size: 12px;
   }

  p3{
    font-size: 12px;
  }
  
  img{
    padding-left: 140px;
    width: 350px;
    color: rgba(4, 4, 250, 0.836);
  }
 

 
